/** Object **/

a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}

a:hover {
    color:#201835;
}

body {
    margin:0;
    text-align: center;
    font-family: 'Merriweather',serif;
    color: #40514e;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento',cursive;
    color: #66bfbf;
}
h2 {
    font-size: 2.5rem;
    /*16px = 1em, 40px = (1em/16)*40 */
    font-family: 'Montserrat',sans-serif;
    color:#66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Montserrat',sans-serif;
    color: #11999E;
}

hr {
    border: dotted #c4d0d0 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

p {
    line-height: 2;
}



/** Class **/
.bottom-cloud {
    position: absolute;
    left:240px;
    bottom: 200px;

}
.bottom-container {
    background-color: #66bfbf;
    padding:50px 0 20px;
}

.bio-text {
    color: #40514E;
    width: 30%;
    margin: auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.copyright {
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    padding: 20px 0;
}

.contact-me {
    width: 50%;
    margin: 90px auto 90px auto;
}

.dataset-align {
    text-align: left;
}

.dataset-row {
    width:50%;
    margin: 100px auto 100px auto;
    line-height: 2;
}

.contact-message {
    color: black;
    width: 75%;
    margin: 40px auto 60px;
}

.middle-container {
    margin: 100px 0;
}


.project-align{
    text-align: left;
}

.project-row {
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;

}

.skill-align{
    text-align: left;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    
}

.top-container {
    background-color: #EAF6F6 ;
    position:relative;
    padding-top: 100px;
}

.mountain-img {
    width: 100%;
    height: auto;
}

.top-cloud {
    position: absolute;
    right:240px;
    top:40px;
}

/** Major Images **/

.ml-img{
    width:25%;
    height: 25%;
    float: left;
    margin-right: 30px;
}

.dq-img {
    width:25%;
    height:25%;
    float:right;
    margin-right: 30px;
}

.web-img {
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 30px;
    ;
}

/* Project Images */

.agri-img {
    width:25%;
    height:25%;
    float:right;
    margin-right: 30px;
}

.curr-img {
    width:25%;
    height:25%;
    float:left;
    margin-right: 30px;
}

.face-img {
    width:25%;
    height:25%;
    float:right;
    margin-right: 30px;
}

.webapp-img {
    width:25%;
    height:25%;
    float:left;
    margin-right: 30px;
}

.hms-img{
    width:25%;
    height:25%;
    float:right;
    margin-right: 30px;
}

.ll-img{
    width:25%;
    height:25%;
    float:left;
    margin-right: 30px;
}

.ojp-img{
    width:25%;
    height:25%;
    float:right;
    margin-right: 30px;
}

.tindog-img {
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 30px;
}

/* Dataset Images */
.imp-img{
    width:25%;
    height:25%;
    float:left;
    margin-right: 30px;
}

.bank-img {
    width:25%;
    height:25%;
    float:right;
    margin-right: 30px;
}

.stock-img {
    width:25%;
    height:25%;
    float:left;
    margin-right: 30px;
}

.play-img {
    width:25%;
    height:25%;
    float:right;
    margin-right: 30px;
}

.cust-img {
    width:25%;
    height:25%;
    float:left;
    margin-right: 30px;
}

.invoice-img {
    width:25%;
    height:25%;
    float:right;
    margin-right: 30px;
}

.magic-img {
    width:25%;
    height:25%;
    float:left;
    margin-right: 30px;
}







@media (max-width: 1250px) {

        .bio-text {
            color: #40514E;
            width: 80%;
            margin: auto;
            }

        .skill-row {
            width: 80%;
            margin: 100px auto 100px auto;
        
        }
        .project-row {
            width: 80%;
            margin: 100px auto 100px auto;
            line-height: 2;
        }

        .dataset-row {
            width: 80%;
            margin: 100px auto 100px auto;
            line-height: 2;
        }
        .contact-me {
            width: 80%;
            margin: 90px auto 90px auto;
        }

        hr {
            border: dotted #c4d0d0 10px;
            border-bottom: none;
            width: 20%;
            margin: 40px auto;
        }

        /** Major Images **/

        .ml-img {
            width: 50%;
            height: 50%;
            float: left;
            margin-right: 30px;
        }

        .dq-img {
            width: 40%;
            height: 50%;
            float: right;
            margin-right: 30px;
        }

        .web-img {
            width: 40%;
            height: 50%;
            float: left;
            margin-right: 30px;
            ;
        }

        /* Project Images */

        .agri-img {
            width: 50%;
            height: 25%;
            float: right;
            margin-right: 30px;
        }

        .curr-img {
            width: 50%;
            height: 25%;
            float: left;
            margin-right: 30px;
        }

        .face-img {
            width: 50%;
            height: 25%;
            float: right;
            margin-right: 30px;
        }

        .webapp-img {
            width: 50%;
            height: 25%;
            float: left;
            margin-right: 30px;
        }

        .hms-img {
            width: 45%;
            height: 25%;
            float: right;
            margin-right: 30px;
        }

        .ll-img {
            width: 50%;
            height: 25%;
            float: left;
            margin-right: 30px;
        }

        .ojp-img {
            width: 50%;
            height: 25%;
            float: right;
            margin-right: 30px;
        }

        .tindog-img {
            width: 50%;
            height: 25%;
            float: left;
            margin-right: 30px;
        }

        /* Dataset Images */
        .imp-img {
            width: 50%;
            height: 25%;
            float: left;
            margin-right: 30px;
        }

        .bank-img {
            width: 50%;
            height: 25%;
            float: right;
            margin-right: 30px;
        }

        .stock-img {
            width: 50%;
            height: 25%;
            float: left;
            margin-right: 30px;
        }

        .play-img {
            width: 50%;
            height: 25%;
            float: right;
            margin-right: 30px;
        }

        .cust-img {
            width: 50%;
            height: 25%;
            float: left;
            margin-right: 30px;
        }

        .invoice-img {
            width: 50%;
            height: 25%;
            float: right;
            margin-right: 30px;
        }

        .magic-img {
            width: 50%;
            height: 25%;
            float: left;
            margin-right: 30px;
        }

}
